<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
		  http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5">

    <!--listener>
        <listener-class>com.holidaycheck.product.core.snippetservice.MongoConnectionListener</listener-class>
    </listener-->

    <servlet>
        <servlet-name>sjersey-service</servlet-name>
        <servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class>

        <init-param>
            <param-name>com.sun.jersey.config.property.packages</param-name>
            <param-value>com.holidaycheck.product.core.snippetservice.resource;eu.fakod.sjersey.providers</param-value>
        </init-param>
    </servlet>

    <servlet-mapping>
        <servlet-name>sjersey-service</servlet-name>
        <url-pattern>*</url-pattern>
    </servlet-mapping>

</web-app>
